<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookStore Online Administration</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}">

</head>
<body>

<nav th:insert="~{./fragments/navigation :: #header}"></nav>

<div align="center">
<div class="row">
    <div class="col text-center">
        <hr width="60%" />
        <h3>Quick Actions:</h3>
        <b>
            <a href="/admin/book/createBookForm" >New Book</a> &nbsp;
            <a href="/admin/createUserForm">New User</a> &nbsp;
            <a href="/admin/category/createCategoryForm">New Category</a> &nbsp;

        </b>
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col text-center">
        <hr width="60%" />
        <h3>Recent Sales:</h3>
    </div>
</div>

<div class="row">
    <table class="table table-bordered table-striped table-hover table-responsive-sm">
        <thead class="thead-dark">
        <tr>
            <th>Order ID</th>
            <th>Ordered By</th>
            <th>Book Copies</th>
            <th>Total</th>
            <th>Payment Method</th>
            <th>Status</th>
            <th>Order Date</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="order : ${recentOrders}">
            <td th:text="${order.bookOrderId}"></td>
            <td th:text="${order.customer.fullName}"></td>
            <td th:text="${order.getTotalCopies}"></td>
            <td th:text="${order.total}"></td>
            <td th:text="${order.paymentMethod}"></td>
            <td th:text="${order.status}"></td>
            <td th:text="${order.orderDate}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col text-center">
        <hr width="60%" />
        <h3>Recent Reviews:</h3>
    </div>
</div>

<div class="row">
    <table class="table table-bordered table-striped table-hover table-responsive-sm">
        <thead>
        <tr>
            <th>Image</th>
            <th>Book Title</th>
            <th>Rating</th>
            <th>Headline</th>
            <th>Customer</th>
            <th>Review On</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="book : ${top3BooksWithReview}">
            <td><img th:src="@{${book.imagePath}}" alt="" width="50" height="70"></td>
            <td th:text="${book.title}"></td>
            <td th:if="${#lists.size(book.reviews) > 0}" th:text="${book.reviews[0].rating}"></td>
            <td th:if="${#lists.size(book.reviews) > 0}" th:text="${book.reviews[0].headline}"></td>
            <td th:if="${#lists.size(book.reviews) > 0}" th:text="${book.reviews[0].customer.fullName}"></td>
            <td th:if="${#lists.size(book.reviews) > 0}" th:text="${book.reviews[0].dateReview}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col text-center">
        <hr width="60%" />
        <h3>Statistics:</h3>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        Total Users:  <span th:text="${totalUsers}" > </span> &nbsp;&nbsp;&nbsp;&nbsp;
        Total Books: <span th:text="${totalBooks}" > </span>  &nbsp;&nbsp;&nbsp;&nbsp;
        Total Customers: <span th:text="${totalCustomers}" > </span> &nbsp;&nbsp;&nbsp;&nbsp;
        Total Reviews:<span th:text="${totalReviews}" > </span> &nbsp;&nbsp;&nbsp;&nbsp;
        Total Orders:<span th:text="${totalOrders}" > </span>


    </div>
</div>
</div>
<nav th:insert="~{./fragments/navigation :: #footer}"></nav>
</div>

</body>

</html>
